{% load staticfiles %}

<html>
<head>
  <title>Django Chat Example</title>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript">
    getContext = function() {
      return {
        "csrf_token": "{{ csrf_token }}",
        "get_url": "{% url 'chat:msgs' %}",
        "send_url": "{% url 'chat:send' %}",
      }
    }
  </script>
  {{ form.media }}
</head>

<body>
  <div id="wrapper">
  <form id="chatform">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="ok" /><br />
  </form>
  <p id="messagewindow"><span id="loading">Loading...</span></p>
  </div>
</body>
</html>

